@import "styles/partials";

.container {
  position: relative;
  background: $mardi-gras;
  background: -webkit-linear-gradient(
    to right,
    $mardi-gras,
    $mardi-gras,
    $jaguar
  );
  background: linear-gradient(to right, $mardi-gras, $mardi-gras, $jaguar);
  padding-bottom: 20px;
}

.projects {
  width: 95%;
  margin: 0px auto;
}

.projectCard {
  display: block;
  position: relative;
  @include above($lg-breakpoint) {
    top: 80px;
  }
  img {
    max-width: 85%;
    background-color: $prelude;
    padding: 5px;
    position: relative;
    top: 60px;
    left: 10%;
    z-index: 9998;
    border-radius: 5px 5px 0px 0px;
    @include above($sm-breakpoint) {
      left: 15%;
    }
    @include above($lg-breakpoint) {
      position: absolute;
      left: inherit;
      right: 10px;
      top: -60px;
    }
    @include above($xl-breakpoint) {
      position: absolute;
      top: -120px;
      right: 10px;
    }
    @include above($xxl-breakpoint) {
      top: -150px;
    }
    &.left {
      text-align: right;
      img {
        left: -12px;
        @include above($lg-breakpoint) {
          top: -80px;
        }
        @include above($xl-breakpoint) {
          top: -120px;
        }
        @include above($xxl-breakpoint) {
          top: -150px;
        }
      }
    }
  }
}

.title {
  font-family: "Akshar", sans-serif;
  color: $periwinkle-gray;
  font-size: $font-size-xl + 4;
  position: relative;
  @include above($md-breakpoint) {
    font-size: $font-size-xxl;
  }
}

.stack {
  display: block;
  width: 100%;
  color: $aquamarine;
}

.text {
  color: $aquamarine;
  font-size: $font-size-lg;
  font-family: "Rubik", sans-serif;
}

.cardTwo {
  background-color: $revolver;
  color: $pearl-lusta;
  border-top: 10px solid $prelude;
  min-height: 230px;
  display: grid;
  align-items: center;
}

.slide {
  position: relative;
  padding: 15px;
  min-height: 100px;
  margin: "0px auto";
  cursor: grab;
}

.soonContainer {
  display: grid;
  align-items: center;
}
