$white: #ffffff;
$periwinkle-gray: #d4daed;
$prelude: #c3bfe8;
$mulled-wine: #5a4f68;
$clairvoyant: #560763;
$mardi-gras: #2c0333;
$jaguar: #1a011f;
$revolver: #251d3a;
$aquamarine: #a1fee7;
$paris-white: #c0d8cd;
$tasman: #cad6cd;
$pearl-lusta: #fcf8e3;
$corn-field: #faf6c5;
$tapestry: #ad5389;

$sm-breakpoint: 576px;
$md-breakpoint: 768px;
$lg-breakpoint: 1024px;
$xl-breakpoint: 1280px;
$xxl-breakpoint: 1600px;

$border-radius-base: 4px;
$border-radius-sm: $border-radius-base - 2px;
$border-radius-md: 6px;
$border-radius-lg: 8px;

//ToDo: fix all this vars and uses
$font-size-xs: 14px;
$font-size-sm: 18px;
$font-size-base: 20px;
$font-size-md: $font-size-base + 2px;
$font-size-lg: $font-size-md + 2px;
$font-size-xl: $font-size-lg + 2px;
$font-size-xxl: $font-size-xl + 12px;
